# Виртуальное окружение (самое главное, чтобы не весило 100МБ на гитхабе)
venv/
.venv/
env/
ENV/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы конфигурации и секреты (переменные окружения)
.env
*.local
config.json

# Логи и базы данных (если появятся)
*.log
*.db
*.sqlite3

# Системные файлы операционных систем
.DS_Store
Thumbs.db
.idea/